/* line styles */
.axis path,
.axis line { 
	fill: none;
	stroke: #333;
	shape-rendering: crispEdges;
}

/* labels */
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.container {
    margin: 40px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

#tooltip {
    position: fixed;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: lightgrey;
    border-radius: 10px;
    pointer-events: none;
    text-align: left;
}

#tooltip.hidden {
    display: none;
}

#tooltip span {
    font-size: 12px;
}

#tooltip #country {
    font-weight: bold;
}

h2 {
    font-size: 30px;
}

caption {
    font-size: 25px;
}